@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-forground antialiased;
  }

  #root {
    @apply min-h-[100svh] max-h-96 max-w-4xl mx-auto p-4 flex flex-col;
  }

  input,
  textarea {
    @apply w-full bg-background rounded-md py-2 px-2 focus-visible:ring-2 focus-visible:ring-forground focus-visible:outline-none resize-none overflow-y-auto;
  }

  button {
    @apply text-forground rounded-md py-2 focus-visible:ring-2 focus-visible:ring-forground focus-visible:outline-none cursor-pointer;
  }
}
